.name-color{
        color: orange;
}

body{
    font-family: 'Otomanopee One', sans-serif;
    background-color: whitesmoke;
    margin: 0%;
}
.size{
    font-size: 40px;
}
.box{
    width: 50%;
    padding-left: 100px;

}
section{
    display: flex;
    margin-bottom: 280px;
    
    
}
#position{
    background-image: url(back-ground/exp-bg.png);
    background-repeat: no-repeat;
}
.box img{
    width: 60%;
    padding: 0px 50px;
}
.box p{
    text-align: justify;
}
.button{
    
    text-decoration: none;
    background-image: linear-gradient(rgba(208, 255, 0, 0.822),rgb(20, 216, 157));
    padding: 10px 30px;
    border-radius: 10px;
    color: rgb(228, 17, 17);
    font-weight: 800;
}
#position-2{
    background-image: url(back-ground/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
